:root {
  --base-100: #fff;
  --base-200: #f9fafb;
  --base-300: #f4f6f8;
  --base-400: #dfe3e8;
  --base-500: #c4cdd5;
  --base-600: #919eab;
  --base-700: #637381;
  --base-800: #454f5b;
  --base-900: #212b36;
  --green-100: #d1f9ea;
  --green-200: #a5e5cd;
  --green-300: #86d4b6;
  --green-400: #67caa4;
  --green-500: #2ab57f;
  --green-600: #0caa6d;
  --green-700: #097f52;
  --green-800: #065;
  --green-900: #054029;
  --purple-000: #f9f3fd;
  --purple-100: #f2eaf7;
  --purple-200: #eadcf2;
  --purple-300: #d5b8e4;
  --purple-400: #c195d7;
  --purple-500: #ac71c9;
  --purple-600: #7a958f;
  --purple-700: #713b8d;
  --purple-800: #4e2861;
  --purple-900: #391d47;
  --red-100: #fde7e7;
  --red-200: #fbcfcf;
  --red-300: #f79e9e;
  --red-400: #f68686;
  --red-500: #f25555;
  --red-600: #f03d3d;
  --red-700: #d23535;
  --red-800: #962626;
  --red-900: #5a1717;
  --teal-100: #d5eef2;
  --teal-200: #acdee5;
  --teal-300: #82cdd9;
  --teal-400: #63c1cf;
  --teal-500: #1fbfd7;
  --teal-600: #2facbf;
  --teal-700: #1f7387;
  --teal-800: #175665;
  --teal-900: #103a44;
  --yellow-100: #fff8eb;
  --yellow-200: #fec;
  --yellow-300: #fd9;
  --yellow-400: #ffcb66;
  --yellow-500: #ffa633;
  --yellow-600: #ff9200;
  --yellow-700: #e04a00;
  --yellow-800: #a51f0c;
  --yellow-900: #7a0707;
}
